body {
  background-color: #ffffff;
  color: #000000;
}

h1 {
  background-color: #e7e7e7;
  color: #000000;
  font-size: 48px;
  text-align: center;
  height: 100px;
  margin: 20px 20px 20px 20px;
}

h2 {
  width: 30%;
  padding-left: 10px;
  font-size: 30px;
  color: #000000;
  background-color: #e7e7e7;
  border-left: solid 8px #000000;
}

h3 {
  width: 70%;
  font-size: 18px;
  padding-left: 4px;
  border-bottom: solid 1px #000000;
}

#schedule {
  padding: 10px 20px 10px 20px;
}

.iniad {
  color: #124d90;
}

.time {
  font-weight: bold;
  color: #124d90;
  font-size: 30px;
}

.index_title {
  background-color: #e7e7e7;
  color: #000000;
  font-size: 35px;
  text-align: center;
  height: 110px;
  margin: 20px 20px 20px 20px;
}

#headerindex {
  background-color : #17194c;
  padding : 10px 20px 10px 20px;
  height : 40px;
}

#headerindex img {
  height : 100%;
}