.wrap {
	position: relative;
	width: 1080px;
	height: 1920px;
	overflow: hidden;
	background-color: rgb(23,25,76);　/*☆000*/
	border: solid 0px #000;
}
.carousel-control {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 10%;
    font-size: 20px;
    color: #666;
    text-align: left;
    text-shadow: none;
    filter: alpha(opacity=1.0);
    opacity: 1.0;
}
.carousel-control.left {
    background-image: -webkit-linear-gradient(left,rgba(0,0,0,.0) 0,rgba(0,0,0,.0) 100%);
    background-image: -o-linear-gradient(left,rgba(0,0,0,.0) 0,rgba(0,0,0,0) 100%);
    background-image: -webkit-gradient(linear,left top,right top,from(rgba(0,0,0,.0)),to(rgba(0,0,0,0)));
    background-image: linear-gradient(to right,rgba(0,0,0,.0) 0,rgba(0,0,0,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#80000000', GradientType=1);
    background-repeat: repeat-x;
	top: 0;
    left: 25px !important;
}
.carousel-control.right {
    background-image: -webkit-linear-gradient(left,rgba(0,0,0,.0) 0,rgba(0,0,0,.0) 100%);
    background-image: -o-linear-gradient(left,rgba(0,0,0,.0) 0,rgba(0,0,0,0) 100%);
    background-image: -webkit-gradient(linear,left top,right top,from(rgba(0,0,0,.0)),to(rgba(0,0,0,0)));
    background-image: linear-gradient(to right,rgba(0,0,0,.0) 0,rgba(0,0,0,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#80000000', GradientType=1);
    background-repeat: repeat-x;
	top: 0;
    right:0 !important;
	text-align: center;
}
.carousel-control:hover, .carousel-control:focus {
    color: #fff;
    text-decoration: none;
    filter: alpha(opacity=1.0);
    outline: 0;
    opacity: 1.0;
}
.carousel-control .icon-prev, .carousel-control .icon-next, .carousel-control .left, .carousel-control .right {
    position: absolute;
    top: 895px;
    z-index: 5;
    display: inline-block;
	color: #999;
	font-size: 80px;
}

/*追加分*/
header {
	width: 1080px;
	text-align: center;
	background-color: #000;
	padding: 50px 0 20px 0;
	border-bottom: solid 1px #000;
	/*position: absolute;*/
	z-index: 99;
}
header img {
	height: 72px;
	width: auto;
        text-align: center;
}
.time {
	width: 180px;
	float: right;
	font-size: 40px;
	margin-top: 7px;
	/* text-align: left; */
	color: #fff;
}
.counter {
	width: 180px;
	float: left;
	font-size: 40px;
	margin-top: 7px;
	color: #fff;
}
/* footer */
footer {
	position: absolute;
	left: 0;
	bottom: 0;
	background-color: #000;
	width: 1080px;
	margin: 0;
	padding: 20px 0 50px 0;
	text-align: center;
}

.img-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; /* 画像間のスペースを調整 */
}

/* 各画像のスタイル */

h1{
  position: absolute;
  top:18%;
  left:50%;
  transform: translate(-50%,-50%);
  padding:0;
  margin:0;
  font-size:100px;
  color: #ffffff;
  font-family: "BIZ UDP明朝","BIZ UDPMincho";
}


.img-container-content {
  width: 49%; /* 画像が2列になるように幅を調整 */
  margin-bottom: 10px; /* 画像間のマージンを追加 */
  box-sizing: border-box; /* ボーダーボックスモデルを使用して、幅と高さにパディングとボーダーが含まれるようにする */
}

.img-container-content img {
  width: 100%; 
  height: auto;
  object-fit: cover;
  border: solid 3px #ffffff;
}

.img-top {
  text-align: center;
}

.img-top img {
  width: 25%; 
  height: auto;
}


  h3 {
    /*background-color: beige;*/
    /*border-left: solid 8px #dbb612;*/
    color: #ffffff;
    font-family: "BIZ UDP明朝","BIZ UDPMincho";
    border-bottom: solid 2px #ffffff;
  }

  #popup {
    display: none; /* label でコントロールするので input は非表示に */
  }
  
  .popup-open {
    cursor: pointer; /* マウスオーバーでカーソルの形状を変えることで、クリックできる要素だとわかりやすいように */
    color: #ffffff;
  }
  
  .popup-overlay {
    display: none; /* input にチェックが入るまでは非表示に */
  }
  
  #popup:checked ~ .popup-overlay {
    display: block;
    z-index: 99999;
    background-color: #00000070;
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
  }
  
  .popup-window {
    width: 90vw;
    max-width: 560px;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 6px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .popup-text {
    margin: 0;
  }
  
  .popup-text:not(:last-of-type) {
    margin-bottom: 1em
  }
  
  .popup-close {
    cursor: pointer;
    position: absolute;
    top: -26px;
    right: 0;
  }


/*追加分*/